<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to text analyzer . Enter your text below</h1>
    <form action="/analyze" method='get'>
        <textarea name="text" style="margin: 0px; width: 793px; height: 174px;"></textarea>   <br>
        <input type="checkbox" name="removepunc"> Remove Punctuation</input> <br>
        <input type="checkbox" name="fullcaps"> UPPERCASE</input> <br>
        <input type="checkbox" name="newlineremover"> New line Remover</input> <br>
        <input type="checkbox" name="extraspaceremover"> Extra space Remover</input> <br>




    <button type='submit'>Text Analyzer</button>
    </form>
</body>
</html>